@header__height: 50px;

:host {
    display: flex;
    height: @header__height;
    background-image: -webkit-gradient(linear, 0 0, 0 53.125, color-stop(0.037, #363736), color-stop(0.452, #353636), color-stop(0.452, #343635), color-stop(0.735, #343635), color-stop(0.735, #353535), color-stop(0.792, #353535), color-stop(0.792, #343635));
    background-image: -webkit-linear-gradient(#363736 3.7%, #353636 45.2%, #343635 45.2%, #343635 73.5%, #353535 73.5%, #353535 79.2%, #343635 79.2%);
    background-image: -moz-linear-gradient(#363736 3.7%, #353636 45.2%, #343635 45.2%, #343635 73.5%, #353535 73.5%, #353535 79.2%, #343635 79.2%);
    background-image: -o-linear-gradient(#363736 3.7%, #353636 45.2%, #343635 45.2%, #343635 73.5%, #353535 73.5%, #353535 79.2%, #343635 79.2%);
    background-image: linear-gradient(#363736 3.7%, #353636 45.2%, #343635 45.2%, #343635 73.5%, #353535 73.5%, #353535 79.2%, #343635 79.2%);
    border-bottom: 1px solid #262626;
    padding: 0 0 0 20px;
    align-items: center;
    flex: none;
}

.header__logo {
    background-image: url('../../assets/img/UX-graphic.png');
    width: 36px;
    height: @header__height;
    background-size: contain;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.header__brand {
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
}

.header__spacer {
    flex: 1;
}

.header__button {
    display: inline-flex;
    color: #fff;
    min-width: @header__height;
    height: @header__height;
    font-size: 20px;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;

    .header__button-tip {
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        transition: width 0.2s ease-in-out;
        text-align: center;
    }

    &:hover {
        .header__button-tip {
            width: 120px;
        }
    }

    &--primary {    
        background-color: #00a7a2;
    }

    &--accent {    
        background-color: #7b63a3;
    }

    &--vibrant1 {
        background-color: #00cceb;
    }

    &--vibrant2 {
        background-color: #ff9048;
    }
}
