:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex: 1;
}

.add-button {
    display: inline-block;
    padding: 5px 20px;
    margin-top: 5px;
}

.page-list {
    list-style-type: none;
    padding: 0;

    .page-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        border-bottom: 1px solid #ddd;
    }
}

.dark-modal-header {
    padding: 9px 15px;
    background-color: #333;
    color: #fff;

    .modal-title {
        font-size: 18px;
        font-weight: 300;
    }
}

.layout-option {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 110px;
    height: 90px;
    margin: 10px 5px;
    cursor: pointer;

    &:hover {
        box-shadow: inset 0px 3px 10px #ddd;
    }

    &.active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
        background-color: #00a7a2;
        color: #fff;

        .hpe-icon {
            color: #fff;
        }
    }

    .hpe-icon {
        color: #333;
        font-size: 30px;
        margin-bottom: 5px;
    }

    .layout-option-name {
        margin-bottom: 0;
    }
}

.create-page-form {
    &.form-submitted {
        .form-control {
            &.ng-invalid {
                border: 1px solid #ff454f;
            }
        }
    }
}