<uxa-header (onCreate)="comingSoonModal.show()"></uxa-header>

<div class="main-content">

    <uxa-preview-pane (onAddPage)="addPageModal.show()"></uxa-preview-pane>

    <uxa-properties-pane>

        <uxa-property-box header="Application Details" [expanded]="true">

            <div class="form-group">
                <label class="form-label">Application Name</label>
                <input type="text" [ngModel]="stateService.name | async" (ngModelChange)="stateService.name.next($event)" placeholder="My Application"
                    class="form-control">
            </div>

            <div class="form-group">
                <label class="form-label">Logo</label>
                <input #logoUpload type="file" (change)="stateService.logo.next(logoUpload.files)" placeholder="logo.png" class="form-control">
            </div>

        </uxa-property-box>

        <uxa-property-box header="Theme">

            <label class="form-label">Page Background</label>

            <div class="form-group">
                <input class="form-control color-input" [colorPicker]="stateService.theme.background | async" (colorPickerChange)="setColor(stateService.theme.background, $event)"
                    [style.background]="stateService.theme.background | async" [value]="stateService.theme.background | async" cpPosition="left"
                    [colorInverse]="stateService.theme.background | async" />
            </div>

            <div class="form-group">
                <label class="form-label">Text Color</label>
                <input class="form-control color-input" [colorPicker]="stateService.theme.textColor | async" (colorPickerChange)="setColor(stateService.theme.textColor, $event)"
                    [style.background]="stateService.theme.textColor | async" [value]="stateService.theme.textColor | async" cpPosition="left"
                    [colorInverse]="stateService.theme.textColor | async" />
            </div>

            <div class="form-group">
                <label class="form-label">Page Header</label>
                <input class="form-control color-input" [colorPicker]="stateService.theme.pageHeader | async" (colorPickerChange)="setColor(stateService.theme.pageHeader, $event)"
                    [style.background]="stateService.theme.pageHeader | async" [value]="stateService.theme.pageHeader | async" cpPosition="left"
                    [colorInverse]="stateService.theme.pageHeader | async" />
            </div>

            <div class="form-group">
                <label class="form-label">Side Navigation</label>
                <input class="form-control color-input" [colorPicker]="stateService.theme.sideNavigation | async" (colorPickerChange)="setColor(stateService.theme.sideNavigation, $event)"
                    [style.background]="stateService.theme.sideNavigation | async" [value]="stateService.theme.sideNavigation | async" cpPosition="left"
                    [colorInverse]="stateService.theme.sideNavigation | async" />
            </div>

            <div class="form-group">
                <label class="form-label">Primary</label>
                <input class="form-control color-input" [colorPicker]="stateService.theme.primary | async" (colorPickerChange)="setColor(stateService.theme.primary, $event)"
                    [style.background]="stateService.theme.primary | async" [value]="stateService.theme.primary | async" cpPosition="left"
                    [colorInverse]="stateService.theme.primary | async" />
            </div>

            <div class="form-group">
                <label class="form-label">Accent</label>
                <input class="form-control color-input" [colorPicker]="stateService.theme.accent | async" (colorPickerChange)="setColor(stateService.theme.accent, $event)"
                    [style.background]="stateService.theme.accent | async" [value]="stateService.theme.accent | async" cpPosition="left"
                    [colorInverse]="stateService.theme.accent | async" />
            </div>

            <div class="form-group">
                <label class="form-label">Alternate 1</label>
                <input class="form-control color-input" [colorPicker]="stateService.theme.alternate1 | async" (colorPickerChange)="setColor(stateService.theme.alternate1, $event)"
                    [style.background]="stateService.theme.alternate1 | async" [value]="stateService.theme.alternate1 | async" cpPosition="left"
                    [colorInverse]="stateService.theme.alternate1 | async" />
            </div>

            <div class="form-group">
                <label class="form-label">Alternate 2</label>
                <input class="form-control color-input" [colorPicker]="stateService.theme.alternate2 | async" (colorPickerChange)="setColor(stateService.theme.alternate2, $event)"
                    [style.background]="stateService.theme.alternate2 | async" [value]="stateService.theme.alternate2 | async" cpPosition="left"
                    [colorInverse]="stateService.theme.alternate2 | async" />
            </div>

            <div class="form-group">
                <label class="form-label">Alternate 3</label>
                <input class="form-control color-input" [colorPicker]="stateService.theme.alternate3 | async" (colorPickerChange)="setColor(stateService.theme.alternate3, $event)"
                    [style.background]="stateService.theme.alternate3 | async" [value]="stateService.theme.alternate3 | async" cpPosition="left"
                    [colorInverse]="stateService.theme.alternate3 | async" />
            </div>
        </uxa-property-box>

    </uxa-properties-pane>

</div>



<!-- Create Not Currently Available Modal -->
<div class="modal square-modal-window fade" bsModal #comingSoonModal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dark-modal-header">
                <h4 class="modal-title pull-left">Coming Soon</h4>
            </div>
            <div class="modal-body">
                This feature is coming soon!
            </div>
            <div class="modal-footer">
                <button class="btn button-primary" (click)="comingSoonModal.hide()">Ok</button>
            </div>
        </div>
    </div>
</div>


<!-- Create Edit Pages Modal -->
<div class="modal square-modal-window fade" bsModal #addPageModal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dark-modal-header">
                <h4 class="modal-title pull-left">Add Page</h4>
            </div>
            <div class="modal-body">

                <form [formGroup]="pageForm">

                    <div class="form-group">
                        <label>Page Title</label>
                        <input type="text" class="form-control" placeholder="List View" formControlName="name">
                    </div>

                    <div class="form-group">
                        <label>Icon</label>
                        <input formControlName="icon" [typeahead]="icons" class="form-control icon-dropdown" typeaheadMinLength="0" [typeaheadItemTemplate]="iconTemplate"
                            typeaheadOptionsLimit="500">

                        <ng-template #iconTemplate let-item="item">
                            <span class="hpe-icon hpe-{{ item }}"></span>
                            <span class="m-l-sm">{{ item }}</span>
                        </ng-template>
                    </div>

                    <div class="form-group">
                        <label>Layout</label>
                        <div class="layout-option">
                            <span class="hpe-icon hpe-list"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn button-primary" (click)="addPageModal.hide()">Ok</button>
            </div>
        </div>
    </div>
</div>