.property-box-header {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #353736;
    border-bottom: 1px solid #262626;
    color: #fff;

    .property-box-header-label {
        margin: 0;
    }

}

.property-box-content {
    padding: 10px;
    overflow-y: auto;
}