@import '~source-sans-pro';
@import '~@ux-aspects/ux-aspects/dist/styles/ux-aspects.css';

html, body {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: default;
}

.form-control {
    box-sizing: border-box;
    margin-top: 5px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;    
}

.form-group {
    margin-bottom: 10px;
}

.color-input {
    color: #fff;
}